﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*Styles for chat room*/
.user-area{
    border: 1px solid #d4e9ff;
    height: 500px;
}

.message-area{
    border: 1px solid #d4e9ff;
    border-left: 0px;
    height: 500px;
    overflow: auto;
}

.header-user-area{
    background: #f2f2f2;
    text-align: center;
    padding-bottom: 4px;
    padding-top: 4px;
    font-family: 'Comic Sans MS';
}

.user-list{
    list-style-type: circle;
    padding-left: 30px;
}

.user-list-element{
    padding-left: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
}

textarea{
    height: 80px;
    width: 90%;
    resize: none;
}

.user-buttons{
    margin-left: -15%;
    padding: 15px;
    height: 35px;
    width: 80px;
    padding: 6px 12px;
    margin-bottom: 6px;
    font-size: 14px;
    text-align: center;
    vertical-align: central;
    cursor: pointer;
    border-radius: 4px;
    border: 1px transparent;
    display: inline-block;
}