﻿@model AjaxChat.Models.Chat

<div id="refresharea">
    @{
        Html.RenderPartial("History", Model);
    }
</div>

@Ajax.ActionLink("ActionLink", "Index", new { user="", logOn="", logOff="", chatMessage=""},
                 new AjaxOptions { UpdateTargetId="refresharea", OnSuccess="ChatOnSuccess", OnFailure="ChatOnFailure" },
                 new { @id = "updatelink", @style = "visibility:hidden;" })

<div id="inputform" style="margin-left: 90px; margin-right: 10px">
    <table style="width:100%">
        <tr>
            <td rowspan="2">
                <textarea id="txtmessage" placeholder="Enter your message..." rows="3"></textarea>
            </td>
            <td>
                <button id="btnmessage" value="Send" class="btn btn-primary user-buttons" style="margin-top: 0px">Send</button>
            </td>
        </tr>
        <tr>
            <td>
                <button id="btnlogoff" value="Log out" class="btn-primary user-buttons" style="margin-top: 0px">Log out</button>
            </td>
        </tr>
    </table>
</div>