﻿@model AjaxChat.Models.Chat

<div id="users" class="col-md-4 user-area" style="padding-left:0px; padding-right:0px">
    <div id="header" class="header-user-area">Online : @Model.users.Count</div>
    <ul class="user-list">
        @foreach (var user in Model.users)
        {
            string color = "#" + user.color.R.ToString("X2") + user.color.G.ToString("X2") + user.color.B.ToString("X2");
            <li class="user-list-element" style="color:@color">@user.name</li>
        }
    </ul>
</div>

<div id="messages" class="col-md-8 message-area">
    @foreach (var message in Model.messages)
    {
        <p>
            @message.messageTime.Hour:@message.messageTime.Minute:@message.messageTime.Second<br />
            @if (message.user != null)
            {
                <b>@(message.user.name + " : ")</b>@message.text
            }
            else 
            {
                <span>@message.text</span>
            }
        </p>
    }
</div>

