﻿@model AjaxChat.Models.Chat
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="username" class="col-md-6 col-md-offset-4"></div>
<br />
<div id="container" class="col-md-6 col-md-offset-4">
    <div id="loginblock" font-family:'Comic Sans MS'">
        <input  id="textusername" type="text" placeholder="Enter nickname"/>
        <button id="btnlogin" class="btn btn-primary" value="Login">Login</button>
    </div>
</div>

<div id="error"></div>
@Ajax.ActionLink("Login", "Index", new { user=""},
                 new AjaxOptions { UpdateTargetId="container", OnFailure="LoginOnFailure", OnSuccess="LoginOnSuccess", InsertionMode=InsertionMode.Replace },
                 new { @id = "loginLink", @style="display:none"})


